# Hands on

In [16]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from pandas_profiling import ProfileReport

In [5]:
train_data = pd.read_csv('airline-train.csv')

In [8]:
train_data.rename(columns={'Unnamed: 0':'key'},inplace=True)

In [11]:
train_data.set_index('key',inplace=True)

In [12]:
train_data

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
key,,,,,,,,,,,,,,,,,,,,
11429,681462729,False,finalized,3,2/25/15 3:07,positive,1.0000,NaN,NaN,US Airways,NaN,CaraModisett,NaN,0,@USAirways she also appreciated having her ver...,NaN,2/18/15 10:55,5.681220e+17,"Memphis, Tennessee",Central Time (US & Canada)
9717,681461003,False,finalized,3,2/25/15 3:20,negative,1.0000,Can't Tell,0.3464,US Airways,NaN,LarrySandeen,NaN,0,@USAirways Just discovered that they billed us...,"[0.0, 0.0]",2/22/15 19:24,5.696990e+17,Southeastern Pennsylvania USA,NaN
10153,681461443,False,finalized,3,2/25/15 6:20,negative,1.0000,Can't Tell,1.0000,US Airways,NaN,burseka,NaN,0,@USAirways u guys suck,NaN,2/22/15 7:28,5.695190e+17,NaN,NaN
975,681449647,False,finalized,3,2/25/15 2:14,negative,1.0000,Can't Tell,1.0000,United,NaN,artistanxiety,NaN,0,@united I will but right now I'm to angry,NaN,2/23/15 14:09,5.699820e+17,Punk is the preacher.,Arizona
1511,681450373,False,finalized,3,2/25/15 6:57,negative,1.0000,Can't Tell,0.6848,United,NaN,axelrodaj,NaN,0,@united not sure why the people in row 7 that ...,"[33.94077727, -118.39921036]",2/22/15 18:50,5.696910e+17,San Francisco,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5233,681455231,False,finalized,3,2/25/15 7:08,negative,0.6334,Cancelled Flight,0.6334,Southwest,NaN,hoffmanrich,NaN,0,@SouthwestAir flight 4040 atl to lga Cancelled...,NaN,2/21/15 13:12,5.692430e+17,"Long Island, NY",Eastern Time (US & Canada)
7222,681457720,False,finalized,3,2/25/15 9:45,negative,1.0000,Bad Flight,0.6658,Delta,NaN,SL_024,NaN,0,@JetBlue keeps getting better. No water on the...,NaN,2/23/15 7:00,5.698740e+17,NaN,Eastern Time (US & Canada)
10227,681461517,False,finalized,3,2/25/15 2:07,negative,1.0000,Late Flight,1.0000,US Airways,NaN,CakeNDeath,NaN,0,@USAirways @AmericanAir working for me. Tight ...,NaN,2/22/15 4:55,5.694810e+17,Old City Philly,NaN
5549,681455548,False,finalized,3,2/25/15 9:04,negative,1.0000,Customer Service Issue,1.0000,Southwest,NaN,rawbeeeen,NaN,0,@SouthwestAir are you guys alive? i've been on...,NaN,2/20/15 14:44,5.689040e+17,310,Pacific Time (US & Canada)
10968,681462263,False,finalized,3,2/25/15 7:22,negative,1.0000,Can't Tell,0.6744,US Airways,NaN,RVangutenberg,NaN,0,@USAirways NEVER AGAIN! Worse experience in my...,NaN,2/20/15 2:54,5.687250e+17,Puerto Rico,NaN

In [13]:
train_data.describe()

,_unit_id,_trusted_judgments,airline_sentiment:confidence,negativereason:confidence,retweet_count,tweet_id
count,8.784000e+03,8784.000000,8784.000000,6308.000000,8784.000000,8.784000e+03
mean,6.814968e+08,3.668944,0.901426,0.644660,0.077527,5.692274e+17
std,8.589781e+04,12.323107,0.161894,0.327245,0.705229,7.777708e+14
min,6.814482e+08,2.000000,0.336600,0.000000,0.000000,5.675880e+17
25%,6.814537e+08,3.000000,0.693900,0.362675,0.000000,5.685738e+17
50%,6.814579e+08,3.000000,1.000000,0.671300,0.000000,5.694990e+17
75%,6.814623e+08,3.000000,1.000000,1.000000,0.000000,5.698940e+17
max,6.816798e+08,248.000000,1.000000,1.000000,44.000000,5.703090e+17

In [17]:
profile = ProfileReport(train_data,title="Pandas Profiling Report")

In [ ]:
profile.to_widgets()

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=35.0), HTML(value='')))